<style>
  .right {
    position: absolute;
    right: 0px;
  }
</style>
<style>
    .label {
      color: #f44336;
      padding: 8px;
      font-family: Arial;
      background-color:white
    }
    table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

table.myformat th {
    color: red;
}

table.myformat td {
    color: green;
}

</style>

<h1>Big Data</h1>

<div  style="background-color:black" >
  <table width="100%" class="myformat">
      <tr style="background-color: black">
      <td align="left"><h4><label  style="color:red" >Bio Celeb</label></h4> </td>
      <td align="left">&nbsp;</td>
      <td align="right"><h4><label  style="color:white" > GloalTier Studios<br>Welcome, Data Scientist</label></h4></td>
    </tr>
    <tr style="background-color: black">
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr style="background-color: black">
        <td align="left"><label  style="color:white"><h4>&nbsp;&nbsp;&nbsp;&nbsp;Big Data</h4></label>&nbsp;&nbsp;&nbsp;&nbsp;<label  style="color:white" >June 2009 to June 2019</label></td>
        <td align="left">&nbsp;</td>
        <td align="left">&nbsp;</td>
      </tr>
      <tr style="background-color: black">
            <td align="left">&nbsp;</td>
            <td align="left">&nbsp;</td>
            <td align="left">&nbsp;</td>
          </tr>
      <tr>
      <tr style="background-color: black">
          <td align="center">&nbsp;<label  style="color:white" > June 2011</label></td>
          <td align="center">&nbsp;<label  style="color:white" > July 2012</label></td>
          <td align="center">&nbsp;<label  style="color:white" > June 2009</label></td>
      </tr>
      <tr style="background-color: black">
          <td align="center">&nbsp;<label  style="color:yellow" ><h1>17,203</h1></label></td>
          <td align="center">&nbsp;<label  style="color:red" ><h1> 9,209</h1></label></td>
          <td align="center">&nbsp;<label  style="color:green" ><h1> $8B</h1></label></td>
      </tr>
      <tr style="background-color: black">
          <td align="center">&nbsp; <label  style="color:white" >FILMS <br> FEATURING TOP<br> TOP 100 CELEBRITIES <br></label></td>
          <td align="center">&nbsp; <label  style="color:white" >FILMS <br> FEATURING <br> MORE THAN <br> ONE TOP CELEBRITIES</label></td>
          <td align="center">&nbsp;<label  style="color:white" >THE DOMESTIC <br> BOX OFFICE <br> FEATURING TOP <br> 100 CELEBRITIES</label></td>
      </tr>
      <tr style="background-color: black">
          <td align="left">&nbsp;</td>
          <td align="left">&nbsp;</td>
          <td align="left">&nbsp;</td>
        </tr>
        <tr style="background-color: black">
            <td align="left">&nbsp;</td>
            <td align="left">&nbsp;</td>
            <td align="left">&nbsp;</td>
          </tr>
      <tr>
  </table>
</div>

<h4 style="text-align:center">Top 100 Celebrities appearing in Films Breakdown by year (June 2009 to June 2019)
  </h4>

<div style="display: block">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [legend]="pieChartLegend"
          [options]="pieChartOption"
          [plugins]="pieChartPlugins" 
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
    </canvas>
</div>
<!--
<p *ngIf="!filmsData"><em>Loading...</em></p>
<div class="center">
    <table  width="100%" class='table' *ngIf="filmsData">
      <thead>
        <tr>
          <th align="left">Year</th>
          <th align="left">MovieCount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filmsDat of filmsData">
          <td>{{ filmsDat.year }}</td>
          <td>{{ filmsDat.movieCount }}</td>
        </tr>
      </tbody>
    </table>
    </div>

<h1>Top 100 Celebrities appearing in Films Breakdown by year </h1>(June 2009 to June 2019)
  -->
<div class="right">
  <label>Year: </label>
  <select  style="color:blue" (change)="filterCelebrities($event.target.value)">
    <option value="0">--All--</option>
    <option *ngFor="let eyear of years" value={{eyear.year}}>
      {{eyear.year}}
    </option>
  </select>
</div>
<p *ngIf="!celebritiesperyears"><em>Loading...</em></p>
<div class="center">
<table  width="100%" class='table' *ngIf="celebritiesperyears">
  <thead>
    <tr>
      <th align="left">Celebrity Names</th>
      <th align="left">Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let celebrity of celebritiesperyears">
      <td>{{ celebrity.birthName }}</td>
      <td>{{ celebrity.year }}</td>
    </tr>
  </tbody>
</table>
</div>

